body {
    padding: 10px !important;
}

.bubble-0 > circle {
    fill: red;
}

.bubble-1 > circle {
    fill: yellow;
}

.bubble-2 > circle {
    fill: green;
}

.bubble-3 > circle {
    fill: blue;
}

.bubble-4 > circle {
    fill: black;
}

.bubble > text {
    fill: white;
}

.field {
    opacity: 0.1;
}

.win {
    fill: green;
}

.loose {
    fill: red;
}

.start {
    fill: grey;
}