<section>
    <div id="thumbs">
        <span class="win thumb glyphicon glyphicon-thumbs-up"></span>
        <span class="loose thumb glyphicon glyphicon-thumbs-down"></span>
    </div>
    <div id="countdown">
        <div class="progress-bar progress-bar-{{progressStyle}} progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
        <br>
        <!--
        <span class="life glyphicon glyphicon-star-empty"></span><br>
        <span class="life glyphicon glyphicon-star-empty"></span><br>
        <span class="life glyphicon glyphicon-star-empty"></span><br>
        <span id="points"><small>P: {{points}}</small></span><br>
        -->
        <span id="rounds"><small>{{rounds}}</small></span>
    </div>
    <div id="field"></div>
</section>