<section>
    <div class="jumbotron">
        <h1>ngm1</h1>
        <p class="lead">
            Drag each colored circle with a number to the right or the left.
        <ul>
            <li>To left, if it is smaller than the number of the last circle with the same color</li>
            <li>If the number is the same or you see the color the first time you can drag it to the left or the right</li>
            <li>For each right decision you get the number added to your points ('P:') and the number of rounds ('R:') is increased by 1</li>
            <li>For each wrong decision you get the number subtracted from your points and you loose one life</li>
            <li>After 3 lost lifes you're dead</li>
            <small>Thanks to <a href="https://angularjs.org/">angularjs.or</a> and <a href="http://d3js.org/">d3js.org</a> </small>
        </ul>
        </p>
    </div>
</section>