<section>
    <p>
        <a class="btn btn-lg btn-success" href="#/g1" role="button">Have fun!</a>
    </p>
    <div>
        <h1>ngm1</h1>
        <p class="lead">
            Drag each colored circle with a number to the right or the left.
        <ul>
            <li>To left, if it is smaller than the number of the last circle with the same color</li>
            <li>If the numbers are the same or you see the color the first time you can drag it to the left or the right</li>
            <li>For each right decision you get the number added to your points ('P:') and the number of rounds ('R:') is increased by 1</li>
            <li>For each wrong decision (are after 5 seconds) you get the number subtracted from your points and you loose one life</li>
            <li>After 3 lost lifes you're dead</li>
        </ul>
        <small>Thanks to <a href="https://angularjs.org/">angularjs.or</a> and <a href="http://d3js.org/">d3js.org</a><br>
            Code is here: <a href="https://github.com/owidder/minigames">github</a>
        </small>
        </p>
    </div>
</section>