<section>
    <style>
        #start-screen-title-bar {
            font-style: normal;
            font-weight: 200;
            font-size: 3em;
        }

        #start-screen-content {
            font-style: normal;
            font-weight: 100;
            font-size: 1.5em;
        }

        #start-button {
            bottom: 5%;
            position: fixed;
        }

        #highscore {
            font-style: normal;
            font-weight: 200;
        }

    </style>

    <div>
        <div class="content">
            <div class="row">

                <div id="start-screen-title-bar" class="col s12 {{bgClass}}">
                    {{gameName}}
                </div>
                <div id="start-screen-content" class="col s12">
                    <div class="container">
                        <div class="section">
                            {{section1}}
                        </div>
                        <div class="divider"></div>
                        <div class="section">
                            {{section2}}
                        </div>
                        <div class="divider"></div>
                        <div id="highscore" class="section">
                            High score: {{highscore}}
                        </div>

                        <div class="section">
                            <a id="start-button" class="btn-floating btn-large waves-effect waves-light {{bgClass}}"
                               href="#/{{gameId}}" role="button">
                                <i class="material-icons">play_arrow</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>