<section>
    <style>
        #start-screen-top-bar {
            background-color: #E57373;
            color: white;
            font-style: normal;
            font-weight: 200;
            font-size: 3em;
        }

        #start-screen-content {
            height: 500px;
            font-style: normal;
            font-weight: 100;
            font-size: 2em;
        }
    </style>

    <div class="browser-window">
        <div class="top-bar">
            <div class="circles">
                <div id="close-circle" class="circle"></div>
                <div id="minimize-circle" class="circle"></div>
                <div id="maximize-circle" class="circle"></div>
            </div>
        </div>
        <div class="content">
            <div class="row">

                <div id="start-screen-top-bar" class="col s12">
                    Sort
                </div>
                <div id="start-screen-content" class="col s12">
                    <div class="container">
                        <div class="section">
                            Bring the bubbles in order!<br>
                            Ascending, descending, clockwise, counterlockwise? Your choice!<br>
                            Hint: Look for the numberless bubble getting green!
                        </div>

                        <div class="divider"></div>

                        <div class="section">
                            <a class="waves-effect waves-light btn" href="#/gD" role="button">Shut up and get me in!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>