<section>
    <div class="jumbotron">
        <h1>Touchi</h1>
        <p class="lead">
            Kill the bubbles by touching them.<br>
            But only the bubbles with the highest numbers!<br>
            BEWARE THE CLOUD!!! It heralds fresh bubbles.<br>
            Dont let there be more than 30 bubbles!
        </p>
        <p>
            <b>High score: {{$root.rootData.highscore_B}}</b>
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="#/gB" role="button">Good luck!</a>
        </p>
    </div>
</section>