<section>
    <div class="jumbotron">
        <a class="btn btn-lg btn-success" href="#/g1" role="button">Start Game</a>
        <p class="lead">
            Drag each colored circle with a number to the left or the right.
        <ul>
            <li>To left/right, if it is smaller/bigger than the number of the last circle with the same color</li>
            <li>If the numbers are the same or you see the color the first time you can drag it to the left or the right</li>
            <li>The faster you decide the more points you get for a correct decision. BUT BEWARE: If you mess it up, you get the same number of points subtracted</li>
            <li>'P:' are your current points and 'R:' the current round, i.e. the number of correct decisions</li>
            <li>For each wrong decision (are after 5 seconds of not deciding) you loose one life. After 3 lost lifes you're dead</li>
        </ul>
        <small>Thanks to <a href="http://mindthecode.com/lets-build-an-angularjs-app-with-browserify-and-gulp/">Mindthecode</a>,
            </a> <a href="https://angularjs.org/">angularjs.or</a>, <a href="http://d3js.org/">d3js.org</a>,
            <a href="http://getbootstrap.com/">Bootstrap</a> and
            <a href="http://browserify.org/">Browserify</a>
            (Code is on <a href="https://github.com/owidder/minigames/tree/gu-br">github</a>)
        </small>
        </p>
    </div>
</section>