@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../font/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../font/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../font/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


body {
    padding: 10px !important;
}

.bubble-0 {
    fill: green;
}

.bubble-1 {
    fill: cyan;
}

.bubble-2 {
    fill: blue;
}

.bubble-0 > circle {
    fill: green;
}

.bubble-1 > circle {
    fill: cyan;
}

.bubble-2 > circle {
    fill: blue;
}

.bubble-3 > circle {
    fill: black;
}

.bubble-4 > circle {
    fill: orange;
}

.bubble-5 > circle {
    fill: purple;
}

.bubble-6 > circle {
    fill: red;
}

.bubble-7 > circle {
    fill: brown;
}

.bubble-8 > circle {
    fill: grey;
}

.bubble-9 > circle {
    fill: yellow;
}

.bubble > text {
    fill: white;
}

.display {
    position: absolute;
    top: 0px;
    right: 0px;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.bg_gray {
    background-color: gray;
    color: white;
}

.bg_black {
    background-color: black;
    color: white;
}

.bg_orange {
    background-color: orange;
    color: white;
}

.bg_red {
    background-color: red;
    color: white;
}

.bg_green {
    background-color: green;
    color: white;
}

#countdown {
    top: 0px;
    left: 0px;
    opacity: 0.5;
}

#field {
    position: absolute;
    top: 0px;
    left: 0px;
}
.hide {
    display:none;
}

.show {
}